hibatis-config_1_0.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT sqls (insert* | update* | delete* | select* )+>

<!ELEMENT select ( #PCDATA | if )*>
<!ATTLIST select
id CDATA #REQUIRED
>

<!ELEMENT insert ( #PCDATA | if )*>
<!ATTLIST insert
id CDATA #REQUIRED
>

<!ELEMENT update ( #PCDATA | if )*>
<!ATTLIST update
id CDATA #REQUIRED
>

<!ELEMENT delete ( #PCDATA | if )*>
<!ATTLIST delete
id CDATA #REQUIRED
>

<!ELEMENT if ( #PCDATA | if )*>
<!ATTLIST if
test CDATA #REQUIRED
>


